.carsAndFilterContainer{
    display: flex;
}

.carsContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;


}
.filterContainer{
    display: flex;
    width: 20%;
    flex-direction: column;
}

.filterCard{
    
    border-radius: 3px;
    width: 12rem;
    height: min-content;
    margin-left: 6rem;
    background-color: gray;
    margin-top:  1.3rem;
}

#priceRangeFilterContainer{
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.minMaxTextContainer{
    display: flex;
    justify-content: space-between;
}

.minMaxText{
    font-size: x-small;
    color: gray;
}

.card{
    height: max-content;
}